services:
  client:
    build:
      ./client/
    ports:
      - "80:3000"
    networks:
      - task_nexus
  
  server:
    build: ./server/
    ports:
      - "5000:5000"
    networks:
      - task_nexus

  db:
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    env_file:
      - .env
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

networks:
  task_nexus:
    driver: bridge

volumes:
  db_data: